
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read for shared reports.
    // Allow anyone to create a new report.
    // Disallow updates and deletes from the client.
    match /reports/{reportId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
